body {
  background-color: #cc9;
}
h1 {
  text-align: center;
}

/* Draw the gameboard */
.gameboard {
  width: 90vw;
  min-width: 875px;
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: #fff;
  height: 23vw;

}

.side {
  padding-left: 11vw;
}

.house {
  padding: .125vw;
  height: 11vw;
  width: 11vw;
  border-radius: 50%;
  background-color: #cc3;
  display: inline-block;
}
